#!/bin/bash
# Adding my own aliases

alias :q="exit"
alias fucking="sudo"
alias icat="swallow sxiv"
alias imd="vim ~/txtfiles/index.md"
alias kcc=kdeconnect-cli
alias mkdir="mkdir -pv"
alias nmc="nmtui-connect"
alias please="sudo"
alias v="nvim"
alias vim="nvim"
alias vimdiff="nvim -d"
alias ls='ls -hN --color=auto --group-directories-first'
alias la="ls -a"
alias lsla="ls -la"
alias pacupdate="sudo pacman -Syu"

nmap-local () {
    echo nmap "$(ip addr | grep "inet " | grep -v "127.0.0.1" | awk '{ print $2 }')" "$@"
    nmap "$(ip addr | grep "inet " | grep -v "127.0.0.1" | awk '{ print $2 }')" "$@"
}

# Configs
alias cfa='$EDITOR $HOME/.aliases'
alias cfb='$EDITOR $HOME/.config/bspwm/bspwmrc'
alias cfh='$EDITOR $HOME/.config/sxhkd/sxhkdrc'
alias cfi='$EDITOR $HOME/.config/i3/config'
alias cfk='$EDITOR $HOME/.config/kitty/kitty.conf'
alias cfpm='$EDITOR $HOME/.config/polybar/modules'
alias cfq='$EDITOR $HOME/.aliases'
alias cfs='$EDITOR $HOME/.bashrc'
alias cfv='$EDITOR $HOME/.vimrc'
alias cfx='$EDITOR $HOME/.Xresources'
alias cfz='$EDITOR $ZDOTDIR/.zshrc'

alias config='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias config-pull='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME fetch origin master; \
    /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME reset --hard origin/master'

# Templates
export TEMPLATES="$HOME/Templates"
alias ta='cp $TEMPLATES/article.tex'
alias tb='cp $TEMPLATES/beamer.tex'
alias tp='cp $TEMPLATES/python.py'
alias ts='cp $TEMPLATES/shell-script.sh'
t () {
    if [ "$#" = 0 ]; then
	printf "Available templates (from $TEMPLATES):\n\n"
	tree "$TEMPLATES"
    elif [ -e "$2" ]; then
	echo "File $2 already exists."
    elif (ls "$TEMPLATES" -1 | grep "$1" > /dev/null); then
	cp -r "$TEMPLATES/$1" "$2"
	echo "Created $2 from template $1."
    else
	echo "Template $1 not found."
    fi
}

#
# # ex - archive extractor
# # usage: ex <file>
ex ()
{
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xvjf $1   ;;
      *.tar.gz)    tar xvzf $1   ;;
      *.tar.xz)    tar xvf $1   ;;
      *.bz2)       bunzip2 $1   ;;
      *.rar)       unrar x $1     ;;
      *.gz)        gunzip $1    ;;
      *.tar)       tar xf $1    ;;
      *.tbz2)      tar xjf $1   ;;
      *.tgz)       tar xzf $1   ;;
      *.zip)       unzip $1     ;;
      *.Z)         uncompress $1;;
      *.7z)        7z x $1      ;;
      *)           echo "'$1' cannot be extracted via ex()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}


cd () {
    gitdir="$(git rev-parse --show-toplevel 2> /dev/null)"
    if [ "$#" -gt 0 ]; then
	command cd "$@"
    elif [ "$gitdir" = "$(pwd)" ]; then
	command cd "$HOME"
    elif [ "$gitdir" = "" ]; then
	command cd "$HOME"
    else
	command cd "$gitdir"
    fi
}


# Youtube-dl
alias yt="youtube-dl --add-metadata --restrict-filenames -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best' -ic" # Download link
alias yta="youtube-dl --add-metadata --restrict-filenames -f 'bestaudio[ext=m4a]' -ic" # Download audio only
alias ytl="youtube-dl --add-metadata --restrict-filenames -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best' -ic -a" # Download list from file

# Audio player
# Source:https://unix.stackexchange.com/questions/132230/read-out-pulseaudio-volume-from-commandline-i-want-pactl-get-sink-volume#164740
getdefaultsinkname() {
    pacmd stat | awk -F": " '/^Default sink name: /{print $2}'
}
getdefaultsinkvol() {
    pacmd list-sinks |
        awk '/^\s+name: /{indefault = $2 == "<'$(getdefaultsinkname)'>"}
            /^\s+volume: / && indefault {print $5; exit}' |
        awk -F"%" '{print $1}'
}
pv () {
    tempvol=$(getdefaultsinkvol)
    if (( $# > 0 )); then
    	pactl set-sink-volume "$(pactl info | grep 'Default Sink' | sed 's/.*: //')" "$1%"
    	echo "$tempvol% => $(getdefaultsinkvol)%"
    else
	echo "$tempvol%"
    fi
}

music () {
    if [ "$1" = "next" ] || [ "$1" = "prev" ]; then
	# In this cases the output will probably not be up to date
	music.sh $1 > /dev/null
    else
	music.sh $1
    fi
}

alias p+='pactl set-sink-volume "$(pactl info | grep "Default Sink" | sed "s/.*: //")" +5%'
alias p-='pactl set-sink-volume "$(pactl info | grep "Default Sink" | sed "s/.*: //")" -5%'
alias pu="music prev"
alias pi="music play-pause"
alias po="music next"
alias pp="music"


# Mounting drives
alias mounted="cd /run/media/$USER && ls"

mnt () {
    lsblk -pln -o SIZE,LABEL,NAME
    print "\nPlease select a device: "
    read device
    echo
    udisksctl mount --block-device "$device" 2>&2
}

umnt () {
    lsblk -pln -o SIZE,LABEL,NAME
    print "\nPlease select a device: "
    read device
    echo
    udisksctl unmount --block-device "$device" 2>&2
}
